body {
    font-family: Arial
}

h1 {
	font-size: 1em
    color: maroon;
    margin-left: 40px;
}

.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;

}

.content__p01 {
    font-family: sans-serif;
    margin-left: 40px;
    width: 480px;
    padding: 10px;
    border: 2px solid #666;
}

.choice{

    cursor:pointer;

}

.content__p02 {
    font-family: sans-serif;
    margin-left: 40px;
    width: 540px;
    padding: 10px;
    border: 2px solid #666;
}

.axis path, 
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
}
.infopanel text {
    font-size: 0.9em;
    font-size: 11px;
}
.infopanel {
    font-family: sans-serif;
    margin-left: 40px;
    height: 3em;
    width: 480px;
    padding: 10px;
    border: 2px solid #666;
}
.resultblock {
    font-family: sans-serif;
    margin-left: 40px;
    height: 3em;
    width: 480px;
    padding: 10px;
    border: 2px solid #666; 
}
.dd select { /*http://bavotasan.com/2011/style-select-box-using-only-css/*/
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}
