body {
    font-family: Arial
}

h1 {
	font-size: 1em
    color: maroon;
    margin-left: 40px;
}
p {
	font-size: 0.9em;
	margin-left: 40px;
}
.axis path, 
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.infopanel text {
    font-family: sans-serif;
    font-size: 11px;
}
.infopanel {
    height: 3em;
    width: 480px;
    padding: 10px;
    border: 1px solid #666;
}